<div class="container">

  <h3>
    <%= @topic.title %>
  </h3>
  <div class="row col-md-12 col-sm-12">
    <%= render @topic.bookmarks %>
  </div>

  <br />

<div class="row col-md-12 col-sm-12">
  <%= render partial: 'bookmarks/form', locals: { topic: @topic, bookmark: @bookmark } %>
</div>

</div>
