<div id="lpcolorhero">
  <div class="container-fluid" style="background-color: #D9230F; padding-top: 20%;">
    <div class="col-md-5">
      <h1 id="lpheader1" style="padding-top: 5px; padding-left: 30px;">Meet Placeholderr.</h1>
      <h4 style="padding-left: 30px; color: white; font-family: 'Roboto', sans-serif; font-size: 24px; font-weight:400; margin-top: 30px;">Bookmarks just got social.</h4>
      <div>
        <div col-md-2><%= button_to "Sign Up", new_user_registration_path, :class => 'ghost-button-transition'  %></div>
        <div col-md-2><%= button_to "Sign In", new_user_session_path, :class => 'ghost-button-transition'  %></div>
      </div>
    </div>
    <div class="col-md-7">
      <img src="<%= asset_path( 'main_laptop.png' ) %>" />
    </div>
  </div>
</div>
